.popup {
  display: none;
  width: 444px;
  padding-top: 32px;
  padding-bottom: 32px;

  position: absolute;
  top: 225px;
  left: 50%;
  margin-left: -221px;
  z-index: 60;

  background-color: #ffffff;
  box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
  border-radius: 8px;
  text-align: center;

  &--active {
    display: block;
  }
  &--delete {
    top: 246px;
  }

  @media screen and (max-width: 480px) {
    width: 360px;
    margin-left: -180px;
  }
}

.popup__emoji {
  width: 40px;
  height: 40px;
  margin: 0 auto 14px;
}

.popup__headline {
  margin-top: 0;
  margin-bottom: 8px;

  @include hn-bold();
  font-size: 20px;
  line-height: 24px;
  color: #000000;

  @media screen and (max-width: 767px) {
    line-height: 28px;
  }
}

.popup__text {
  margin-top: 0;
  margin-bottom: 6px;

  @include hn();
  font-size: 15px;
  line-height: 17px;
  color: #000000;

  &:last-of-type {
    margin-bottom: 24px;
  }

  @media screen and (max-width: 767px) {
    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

.popup__buttons-wrapper {
  margin-top: 24px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
