.button {
  padding: 10px 16px;
  border: none;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  @include hn-medium();
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;

  background-color: #007DFF;
  border-radius: 4px;
  transition: .2s;

  &:hover {
    background-color: #0059FF;
  }
  &:active {
    background-color: rgba(11,0,255,0.80);
  }
  &:disabled {
    background-color: #E9ECEF;
    color: rgba(0,0,0,0.20);
  }

  &--header {
    margin-top: 18px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &--secondary {
    background-color: #E9ECEF;
    color: #000000;

    &:hover {
      background-color: rgba(0,16,33,0.05);
    }
    &:active {
      background-color: rgba(4,29,56,0.14);
    }
    &:disabled {
      background-color: #E2E5E8;
      color: rgba(0,0,0,0.20);
    }
  }

  @media screen and (max-width: 767px) {
    padding: 14px 26px 12px;

    font-size: 15px;
    line-height: 18px;
  }
}

.round-button {
  width: 24px;
  height: 24px;
  padding: 0;

  background-color: #E9ECEF;
  border: none;
  border-radius: 50%;

  position: relative;
  transition: .2s;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;

    opacity: 0.43;
  }
  &:focus::after {
    opacity: 1;
  }
  &--prev::after {
    background-image: url('../img/icons/angle--left.svg');
    background-size: 7px 12px;
  }
  &--next::after {
    background-image: url('../img/icons/angle--right.svg');
    background-size: 7px 12px;
  }
  &--close {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  &--close::after {
    background-image: url('../img/icons/close.svg');
    background-size: 10px 10px;
    opacity: 1;
  }
  &--edit {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  &--edit::after {
    background-image: url('../img/icons/edit.svg');
    background-size: 12px 12px;
  }

  @media screen and (max-width: 767px) {
    width: 32px;
    height: 32px;
  }
}

.label {
  display: block;
  margin-bottom: 4px;

  @include hn-bold();
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.label__mobile {
  display: none;

  @media screen and (max-width: 767px) {
    display: inline;
  }
}

.text-input {
  display: block;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  padding: 8px 10px 12px 8px;

  @include hn();
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  letter-spacing: 0.47px;

  background-color: #FFFFFF;
  border: 2px solid #E9ECEF;
  border-radius: 4px;

  transition: .2s;

  &::placeholder {
    color: #858E98;
  }
  &:hover {
    border-color: #007DFF;
  }

  @media screen and (max-width: 767px) {
    height: 44px;

    font-size: 15px;
    line-height: 17px;
  }
}

.searchfield-item {
  height: 34px;
  box-sizing: border-box;
  padding: 5px 16px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: #ffffff;

  transition: .2s;

  &:hover {
    background-color: #F6F7F9;
  }
  &:hover .searchfield-item__name-floor {
    @include hn-bold();
  }
}

.searchfield-item__avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.searchfield-item__name-floor {
  margin-top: 0;
  margin-bottom: 0;

  @include hn();
  font-size: 13px;
  line-height: 15px;
  color: #37003E;
}

.searchfield-item__name {
  color: #000000;
}
